.redp {	
	color:red;
}

.header{
    padding:10px;
    /*padding-bottom:50px;*/
/*    border:1px solid #D6E9C6;*/
    border:1px solid #DFF0D8;
    border-radius:5px;
    width:50%;
    /*background:#41B285;*/
    margin:5px;
    float:top;
    /*position: fixed;
    top: 10px;
    left: 10px;*/
}

.search_result{
    padding:10px;
    border:1px solid #D6E9C6;
    border-radius:15px;
    margin:5px;
    background:#DFF0D8;
    width:50%;
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.3);
}

.search_result:hover{
	background:white;
}

input:focus{
border-color:#0088CC;
}

form{
    width:99%;
    /*margin:5px auto;*/
    padding:5px;
    background:#f5f5f5;
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.3);
}
input[type="text"],
input[type="password"]{
    width:80%;
    border:1px solid #ccc;
    padding:5px;
    background:white;
    /*background:#34495e;*/
    border-radius: 5px;

}
input[type="submit"]{
	margin:5px;
    width:15%;
    /*height:100%;*/
}
label{
    display:block;
    margin-top:1em;
    margin-bottom:0.5em;
}
label:first-child{
    margin-top:0;
}

.search_result:hover{
    padding:10px;
    border:3px solid #D6E9C6;
    border-radius:15px;
    margin:5px;
    background:#DFF0D8;
    width:50%;
    box-shadow:1px 2px 4px rgba(0, 0, 0, 0.3);
}
/*.fixedform{
    position: fixed;
    top: 65px;
    left: 25px;
    width:48%;

}*/